.f9{ font-family: 宋体;font-size: 9pt }
.f10{ font-family: 宋体;font-size: 10.5pt }
.fstyle { font-family: "宋体";font-size: 9pt ; } 
A:link	{text-decoration: none; color:#0033CC}
A:visited  {text-decoration: none; color: #0033CC}
A:active {text-decoration: none; color: #0000ff }
A:hover {text-decoration: underline; color: #FF0000 }
input,body,td { font-family: 宋体; font-size: 9pt; }
